
@if (list == null)
{
    <h1>No Data Avaliable</h1>
}
else
{
    @if (type != "none")
    {
        @if (type == "text")
        {
            <label>@label</label>

            @if (button)
            {
                <div class="mb-4">
                    <input type="text" @bind-value="value" @bind-value:event="oninput"
                           class="form-check form-control" />
                    <br />
                    <button class="btn btn-primary" @onclick="Search">Search</button>
                </div>
            }
            else
            {
                <div class="mb-4">
                    <input type="text" @bind-value="value" @bind-value:event="oninput"
                           class="form-check form-control" @onkeyup="Search" />
                    <br />
                </div>
            }
        }
        else if (type == "combobox")
        {
            if (button)
            {
                <div class="mb-4">
                    <select class="form-check form-control" @bind-value="value" @bind-value:event="oninput">
                        <option value="">--Selected One Item--</option>
                        @foreach (var item in combobox)
                        {
                            <option value="@item.GetType().GetProperty(valueMember).GetValue(item)">
                                @item.GetType().GetProperty(displayMember).GetValue(item)
                            </option>
                        }
                    </select><br />
                    <input type="button" value="Search" class="btn btn-primary" @onclick="Search" />
                </div>
            }
            else
            {
                <div class="mb-4">
                    <select class="form-check form-control" @bind-value="value" @bind-value:event="oninput"
                            @onchange="Search">
                        <option value="">--Selected One Item--</option>
                        @foreach (var item in combobox)
                        {
                            <option value="@item.GetType().GetProperty(valueMember).GetValue(item)">
                                @item.GetType().GetProperty(displayMember).GetValue(item)
                            </option>
                        }
                    </select><br />
                    <input type="button" value="Search" class="btn btn-primary" @onclick="Search" />
                </div>
            }
        }
    }

    <table class="table">
        <thead>
            <tr>
                @foreach (var item in titles)
                {
                    <td>@item</td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (object obj in list)
            {
                <tr>
                    @foreach (var prop in obj.GetType().GetProperties())
                    {
                        <td>@prop.GetValue(obj)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}


@code {
    public string value { get; set; }

    [Parameter]
    public string[] titles { get; set; }

    [Parameter]
    public object[] list { get; set; }

    [Parameter]
    public string type { get; set; } = "none";

    [Parameter]
    public string label { get; set; } = "";

    [Parameter]
    public bool button { get; set; }

    [Parameter]
    public EventCallback<string> eventQueue { get; set; }

    public void Search()
    {
        eventQueue.InvokeAsync(value);
    }

    [Parameter]
    public object[] combobox { get; set; } = null;

    [Parameter]
    public string displayMember { get; set; } = null;

    [Parameter]
    public string valueMember { get; set; } = null;
}
